:root {
  --pop-color: #da7b93;
}
body {
  background: linear-gradient(
    90deg,
    rgb(47, 68, 84) 21%,
    rgb(55, 110, 111) 79%
  );
}
.navbar {
  padding-left: 15px;
  background: var(--pop-color);
}
.navbar .nav-link {
  color: #2f4454;
}
.navbar .navbar-brand {
  color: white;
}
.container {
  padding: 15px;
}
.header {
  padding: 15px;
}
h1,
h2 {
  text-align: center;
  font-family: "Pacifico", cursive;
  color: white;
}
#title {
  background: var(--pop-color);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
}
h1 {
  font-size: 75px;
}
h2 {
  padding-bottom: 15px;
}
